.about-container {
  padding: 1rem 3rem 0;
  max-width: 1600px;
  margin: 0 auto;

  @include small-xs {
    padding: 1rem;
  }

  .row {
    padding-bottom: 8rem;
    @include small-xs {
      padding-bottom: 2rem;
    }

    .row-content {
      padding-left: 3rem;
      padding-right: 3rem;

      @include small-xs {
        padding-left: 0;
        padding-right: 0;
      }

      .cjs-link {
        color: $leyla-background;
        font-weight: bold;

        &:hover {
          color: darken($leyla-background, 10%);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  .about-cjs {
    .about-doc {
      background: $leyla-background;
      margin-right: 20px;
    }

    .about-dev {
      background-color: $leyla-background;
      color: $leyla-background;
      border: 1px solid $leyla-background;
    }
  }

  .about-net {
    background-color: $leyla-background;
  }

  .about-gb {
    background-color: $leyla-background;
  }

  .about-blog {
    background-color: $leyla-background;
    width: 140px;
  }

  .about-image {
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}
