.explore-banner {
  .explore-banner--image {
    background: url("/images/coming-soon.jpg") no-repeat center/80%;
    padding-bottom: 100%;
  }
}
.coming-soon-background {
  background: $leyla-secondary;
}
